
//COLORS

// $color-white: #ffffff;
// $color-black: #000001;
// $color-red: #be2020;
// $color-shade--light: #676767;
// $color-shade--dark: #333333;




//PADDING

$padding-container--small: 10px;
$padding-container--large: 10vw;

//MARGIN



//FONTS

// $font-primary: 'Montserrat', sans-serif;
// $font-secondary: 'RobotoCondensed', sans-serif;





// BREAKPOINTS

$breakpoints: (
  // 'small':  767px,
  // 'medium': 992px,
  // 'large':  1200px
  'large':  1024px

) !default;

/// Mixin to manage responsive breakpoints
/// @param {String} $breakpoint - Breakpoint name
/// @require $breakpoints
@mixin breakpoint($breakpoint) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $breakpoint) {
    // Prints a media query based on the value
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
  
  // If the key doesn't exist in the map
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Available breakpoints are: #{map-keys($breakpoints)}.";
  }
}
